Data/
Subplot_avg_images.png
Processed Data/
training/runs/
Untitled-1.ipynb
Untitlezd-1.ipynb
.gitignore
binary tress.ipynb
Untitled-d1.ipynb
Untiwtled-1.ipynb
Images/Rectangular Window.jpg
training/model_cnn.onnx.png
training/model_cnn.onnx
training/model_cnn.pth
training/model.pth
Untitlewd-1.ipynb
Untitled-21.ipynb
w.ipynb
Random Data/
Images
training/model-fold-0.pth
training/model-fold-1.pth
training/model-fold-2.pth
training/model-fold-3.pth
training/model-fold-4.pth
Data Pre-processing and EDA/train_data_cross_val.mat
Data Pre-processing and EDA/test_data_cross_val.mat
training/model-fold-5.pth
training/model-fold-6.pth
training/model-fold-7.pth
training/model-fold-8.pth
training/model-fold-9.pth
Data Pre-processing and EDA/split_data.asv
Data Pre-processing and EDA/times.asv
training/__pycache__/DatasetCreator.cpython-38.pyc
training/__pycache__/pytorchtools.cpython-38.pyc
training/__pycache__/training_functions.cpython-38.pyc
training/__pycache__/DatasetCreator.cpython-38.pyc
training/nyasha.pth
training/history.py
training/model-fold-0_2.pth
training/model-fold-0_3.pth
training/model-fold-1_2.pth
training/model-fold-1_3.pth
training/model-fold-2_2.pth
training/model-fold-2_3.pth
training/model-fold-3_2.pth
training/model-fold-3_3.pth
training/model-fold-4_2.pth
training/model-fold-4_3.pth
training/model-fold-5_2.pth
training/model-fold-5_3.pth
training/model-fold-6_2.pth
training/model-fold-6_3.pth
training/model-fold-7_2.pth
training/model-fold-7_3.pth
training/model-fold-8_2.pth
training/model-fold-8_3.pth
training/model-fold-9_2.pth
training/model-fold-9_3.pth
Images/Capture.PNG
Images/Fold_0.PNG
inference/+-.pt
inference/checkpoint.pt
inference/ernet_scripted.pt
inference/ernet.pth
models/__pycache__/CNN.cpython-38.pyc
training/best model residual network 3 blocks.pt
training/Best Model So Far.pt
training/best_resnet.pt
training/model_cnn2.onnx
training/model_cnn3.onnx
training/__pycache__/
training/trt_models/
Data Pre-processing and EDA/
.vscode/
training/torch2trt
training/checkpoint.pt
training/models/__pycache__
Random  Data/
Training/model_ckpt/
Training/resnet_18_fe_checkpoint.pt
Training/pruned_model.pth
new_logs.txt
Training/bert.ipynb
Training/prepared.csv
training/ernet.pt
training/settings.yaml
simulation/__pycache__/fashion.cpython-38.pyc
simulation/runs/Nov16_17-53-09_nyasha/events.out.tfevents.1637077989.nyasha.15372.0
simulation/runs/Nov16_18-07-10_nyasha/events.out.tfevents.1637078830.nyasha.15372.1
simulation/runs/Nov16_18-07-39_nyasha/events.out.tfevents.1637078859.nyasha.15372.2
simulation/runs/Nov16_18-09-49_nyasha/events.out.tfevents.1637078989.nyasha.15372.3
simulation/runs/Nov16_18-11-33_nyasha/events.out.tfevents.1637079093.nyasha.15372.4
simulation/runs/Nov16_18-15-13_nyasha/events.out.tfevents.1637079313.nyasha.15372.5
simulation/runs/Nov16_18-31-36_nyasha/events.out.tfevents.1637080296.nyasha.15372.6
simulation/runs/Nov16_18-31-59_nyasha/events.out.tfevents.1637080319.nyasha.15372.7
Training/1_train_accuracy.txt
Training/1_train_loss.txt
Training/1_val_accuracy.txt
Training/1_val_loss.txt
Training/data.txt
Training/model_cnn1.onnx
Training/work_model.pth
Training/ernet_cross_val_models/model-fold-0_3.pth
Training/ernet_cross_val_models/model-fold-1_3.pth
Training/ernet_cross_val_models/model-fold-2_3.pth
Training/ernet_cross_val_models/model-fold-3_3.pth
Training/ernet_cross_val_models/model-fold-4_3.pth
Training/ernet_cross_val_models/model-fold-5_3.pth
Training/ernet_cross_val_models/model-fold-6_3.pth
Training/ernet_cross_val_models/model-fold-7_3.pth
Training/ernet_cross_val_models/model-fold-8_3.pth
Training/ernet_cross_val_models/model-fold-9_3.pth
training/models/__pycache__/__init__.cpython-38.pyc
training/models/__pycache__/CNN.cpython-38.pyc
preprocessing/Outline.txt
Preprocessing/plot_graphs.asv
enrnet_con1.png
Preprocessing/classes_array.mat
Preprocessing/ipython_history.md
Preprocessing/snr_result.mat
Preprocessing/time_stamps.mat
simulation/fashion.py
simulation/simulation.ipynb
Training/train.txt
Training/work_model.pt
training/models/__pycache__/__init__.cpython-38.pyc
training/models/__pycache__/CNN.cpython-38.pyc
Training/cae_training.ipynb
Training/cross_validation.py
Training/prune_test.ipynb
Training/prune.py
Training/quantisation_functions.py
Training/testing.ipynb
Training/vit_training.ipynb
Training/.ipynb_checkpoints
simulation/runs
Training/models/CAE.py
Training/models/ViT.py